### VS Code ###
.vscode/*

### Terraform ###
**/.terraform
**/terraform.tfstate
**/*.tfstate
**/*.tfstate.backup
**/*.lock.hcl
**/*.lock.info

#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# OSX
.DS_Store

# Local environment
.env
.envrc

# draw.io
*.bkp
*.dtmp